<!-- {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block body %}

<div class="headerTitle">
    <h2 data-text="GNVageesh">GNVageesh</h2>
</div>

<script src="{{url_for('static', filename='js/textAnim.js')}}"></script>
{% endblock %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>GNV Portfolio</title>
</head>

<body>
    <div class="headerTitle">
        <h2 data-text="GNVageesh">GNVageesh</h2>
    </div>
</body>

</html>